@model ZEMS.Web.Pages.User.IndexModel
@using ZEMS.Web.Pages.User
<form method="get" style="margin-bottom:5px;">
    <div class="row toolbar-container">
        <div class="btn-toolbar mb-1 col-12" role="toolbar">
            <div class="input-group input-group-sm">
                <div class="input-group input-group-sm" data-toggle="tooltip" data-placement="top" title="@Resource.LabelSave" onclick="@(UserHtmlElementVariables.UpdateHandler.JSFunctionTriggerHandler)();">
                    <a class="input-group-text custom-anchor-button" href="#">
                        <i class="fas fa-save"></i><span class="btn-label"> @Resource.LabelSave</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

@Html.CelerSoftPromptMessageContainer(UserHtmlElementVariables.UserFormPromptContainer)

<div class="row panel-container">
    <div class="col-md-12">
        <form method="post" id="@UserHtmlElementVariables.UserForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ZEMSUser.Id" />
            <div class="form-group">
                @Html.DisplayLabelWithRequiredTag(model => Model.ZEMSUser.IdentityUserName, "control-label small")
                <input asp-for="ZEMSUser.IdentityUserName" class="form-control form-control-sm" readonly />
                <span asp-validation-for="ZEMSUser.IdentityUserName" class="text-danger small"></span>
            </div>
            <div class="form-group">
                @Html.DisplayLabelWithRequiredTag(model => Model.ZEMSUser.FullName, "control-label small")
                <input asp-for="ZEMSUser.FullName" class="form-control form-control-sm" />
                <span asp-validation-for="ZEMSUser.FullName" class="text-danger small"></span>
            </div>
            <div class="form-group">
                @Html.DisplayLabelWithRequiredTag(model => Model.ZEMSUser.IdentityEmail, "control-label small")
                <input asp-for="ZEMSUser.IdentityEmail" class="form-control form-control-sm" />
                <span asp-validation-for="ZEMSUser.IdentityEmail" class="text-danger small"></span>
            </div>
            <div class="form-group">               
                @Html.DisplayLabelWithRequiredTag(model => Model.ZEMSUser.Roles, "control-label small")
                <select asp-for="ZEMSUser.Roles" asp-items="@Model.Roles" class="form-control form-control-sm select2-role" multiple="multiple">
                    <option value="">-- Select User Type --</option>
                </select>
                <span asp-validation-for="ZEMSUser.Roles" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@UserHtmlElementVariables.UpdateHandler.CelerSoftTriggerHandlerPostAjax(modal: UserHtmlElementVariables.UserModal,
    promptMessageContainer: @UserHtmlElementVariables.UserFormPromptContainer.Name,
    formName: UserHtmlElementVariables.UserForm,
    confirmationMessage: Resource.PromptMessageSaveConfirmation,
    runJavascriptOnSuccess: UserHtmlElementVariables.InitializeListHandler.JSFunctionTriggerHandler + "();")
<script type="text/javascript">
    $(".select2-role").select2({
        placeholder: "Select a role"
    });
</script>