@page
@model ZEMS.Web.Pages.User.IndexModel
@using ZEMS.Web.Pages.User
@{
    ViewData["Title"] = @Resource.LabelUserList;
}
<form method="get">
    <div class="row toolbar-container">
        <div class="btn-toolbar mb-1 col-sm-3 toolbar-left-panel" role="toolbar">
        </div>
        <div class="btn-toolbar mb-1 col-sm-9 toolbar-right-panel" role="toolbar" style="padding-left:0px;padding-right:0px;">
            <div class="col-sm-12 row" style="margin-right:0px;padding-right:0px;">
                <div class="col-sm-8" id="">
                </div>
                <div class="col-sm-4" id="SearchContainer">
                    <div id="search-toolbar" class="input-group input-group-sm">
                        <div class="input-group-prepend input-group-sm">
                            <button type="submit" id="btnSearch" class="input-group-text">
                                <i class="fas fa-search text-dark"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                        <input asp-for="SearchKey" class="form-control" placeholder="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div id="@UserHtmlElementVariables.UserListingsContainer" class="container-fluid" style="position:relative;min-height:400px;padding-top:5px;">
</div>
@section Scripts {
    @UserHtmlElementVariables.UserModal.CelerSoftFormModal();
    @UserHtmlElementVariables.ShowEditHandler.CelerSoftShowModalTriggerHandlerGetAjax(modal: UserHtmlElementVariables.UserModal)
    @UserHtmlElementVariables.ShowActivateHandler.CelerSoftShowModalTriggerHandlerGetAjax(modal: UserHtmlElementVariables.UserModal)
    @UserHtmlElementVariables.ShowDeactivateHandler.CelerSoftShowModalTriggerHandlerGetAjax(modal: UserHtmlElementVariables.UserModal)
    @UserHtmlElementVariables.ShowViewHandler.CelerSoftShowModalTriggerHandlerGetAjax(modal: UserHtmlElementVariables.UserModal)
    @UserHtmlElementVariables.InitializeListHandler.CelerSoftShowModalTriggerHandlerGetAjax(resultType: PageHandlerReturnType.HtmlElement, targetElement: UserHtmlElementVariables.UserListingsContainer, currentModelValues: Model)
    <script type="text/javascript">
        @(UserHtmlElementVariables.InitializeListHandler.JSFunctionTriggerHandler)();
    </script>
}

